# === Node.js ===
node_modules/
npm-debug.log*
package-lock.json

# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# === Systemowe ===
.DS_Store
Thumbs.db

# === Logi i dane ===
logs/
*.log
data/
config/*.json

# === IDE / edytory ===
.vscode/
.idea/
*.swp

# === Inne ===
state.json
config/